<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horizon.randomplay">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hapticFeedbackEnabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.RandomPlay">
        <activity
            android:name=".Activities.preff.SuggestContentActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.StreamingServicesLogoManager"
            android:exported="true" />
        <activity
            android:name=".Activities.preff.PopUpMovieSeriesSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RandomPlay.popWindow" />
        <activity
            android:name=".Activities.movies.MovieLogosManager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.movies.MovieResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoaderActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.series.SeriesResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RandomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.history.HistorySeriesComponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.history.HistoryMovieComponActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>